@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* Custom CSS */
.hide-on-small-screen {
  display: none;
}

/* Tailwind CSS */
@media (min-width: 1280px) {
  .hide-on-small-screen {
    display: block; /* Revert to default display on larger screens */
  }
}

/* Mobil için medya sorgusu */
@media (max-width: 767px) {
  .desktop-button {
    display: none;
  }
  .phone-button {
    max-height: 80px;
  }
  .button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
